*{
    font-family: 'Press Start 2P', cursive;

}

.bit-bg{
    background-image: url("../img/8-bit-bg.png");
    background-position: bottom;
    padding-top: 50px;
}

.title{
    font-family: 'Press Start 2P', cursive;
}

.mt-250 {
    margin-top: 250px; 
}

.login-page{
    height: 500px;
    margin-top: 200px;
}
.space{
    background-image: url("../img/space.jpg");
    background-position: center;
    height: 700px;
}